<launch>
    <!-- <node pkg="initial_pose" type="initial_pose.py"  name="initial_pose" output="screen"> </node>   
    <node pkg="rtk_gps_node" type="position_xyz.py" name="robot_gps"  output="screen"> </node>  -->

    <node pkg="rosserial_python" type="serial_node.py" name="arduino_1" args ="/dev/ttyUSB0"/>
    <node pkg="initial_pose" type="robot_heading"  name="robot_heading" output="screen"/>
        <param name="map_mode" value="true" type="bool" /> 

</launch>